h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
  text-align: center;
}

h5 {
  text-align: center;
}

img{
    width: 20vw;
}
.knapper {
    padding: 20px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.knapper:hover{
    cursor: pointer;
}

.scoresContainer {
  text-align: center;
}
